<div class="row">
  <div class="col-md-12 mt-2 mb-2">
    <div class="jumbotron py-4">
      <h1 class="display-4 text-center font-weight-bold text-uppercase">Angular CRUD</h1>
      <h5 class="text-center text-muted">Payment Details Register</h5>
    </div>
  </div>
  <div class="col-md-6">
    <app-payment-details-form></app-payment-details-form>
  </div>
  <div class="col-md-6">
      <span>List of payment details</span>
      <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Card Number</th>
            <th>Expire</th>
            <th>Action</th>
          </tr>
        <tr *ngFor="let details of service.paymentDetails">
          <td>{{ details.name }}</td>
          <td>{{ details.card_number }}</td>
          <td>{{ details.expire_date }}</td>
          <td>
            <button (click)="onDelelete(details.id)"><i class="fa fa-trash text-danger"></i></button>
          </td>
        </tr>
      </table>
  </div>
</div>
